   @{
    Layout = null;
    
    }  
    
    <div class="widget posts">

                                <h5>Makaleler</h5>
                                <div class="widget-tabs">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#popular" data-toggle="tab">Populer</a></li>
                                        <li><span>/</span></li>
                                        <li><a href="#fresh" data-toggle="tab">Fresh</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="popular">
                                            <ul>

                                                @{
                                                    MvcBlog.Models.Makale m = new MvcBlog.Models.Makale();
                                                        
                                                }

                                               @foreach (var pop in ViewBag.Populer) { 
                                               
                                               
                                                  <li>

                                                    <figure>
                                                        <a href="/Makale/Detay/@pop.Id">
                                                            <img src="@pop.Resim.KucukResimYol" alt=""/>
                                                        </a>
                                                    </figure>
                                                    <div class="text">
                                                        <a href="/Makale/Detay/@pop.Id">@pop.Baslik</a>
                                                        <a href="/Kategori/Index/@pop.KategoriID" class="category">{ @pop.Kategori.Adi }</a>
                                                    </div>
                                                </li>
                                               
                                               
                                               }
                                             
                                               
                                            </ul>
                                        </div>
                                        <div class="tab-pane" id="fresh">
                                            <ul>

                                                @foreach (var son in ViewBag.Fresh) { 
                                                
                                                
                                                <li>
                                                    <figure>
                                                        <a href="/Makale/Detay/@son.Id">"
                                                              <img src="@son.Resim.KucukResimYol" alt=""/>
                                                        </a>
                                                    </figure>
                                                    <div class="text">
                                                        <a href="/Makale/Detay/@son.Id">@son.Baslik</a>
                                                        <a href="/Kategori/Index/@son.KategoriID" class="category">{ @son.Kategori.Adi}</a>
                                                    </div>
                                                </li>
                                                    
                                                    
                                                    
                                                }
                                                
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>